apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
patches:
  - patch: |
      - op: add
        path: /spec/acme/server
        value: https://acme-v02.api.letsencrypt.org/directory
    target:
      kind: ClusterIssuer
      name: letsencrypt
